
:root {
  /* Primary */
  --ion-color-primary: #0078ff;
  --ion-color-primary-rgb: 0, 120, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0066cc;
  --ion-color-primary-tint: #3399ff;

  /* Secondary */
  --ion-color-secondary: #4da6ff;
  --ion-color-secondary-rgb: 77, 166, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #3b94e6;
  --ion-color-secondary-tint: #66b3ff;

  /* Tertiary */
  --ion-color-tertiary: #9980ff;
  --ion-color-tertiary-rgb: 153, 128, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #8066e6;
  --ion-color-tertiary-tint: #aa99ff;

  /* Success */
  --ion-color-success: #28a745;
  --ion-color-success-rgb: 40, 167, 69;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #218838;
  --ion-color-success-tint: #4caf50;

  /* Warning */
  --ion-color-warning: #ffc107;
  --ion-color-warning-rgb: 255, 193, 7;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e6ac00;
  --ion-color-warning-tint: #ffd54f;

  /* Danger */
  --ion-color-danger: #dc3545;
  --ion-color-danger-rgb: 220, 53, 69;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #b02a37;
  --ion-color-danger-tint: #e57373;

  /* Light */
  --ion-color-light: #f8f9fa;
  --ion-color-light-rgb: 248, 249, 250;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #e9ecef;
  --ion-color-light-tint: #ffffff;

  /* Medium */
  --ion-color-medium: #6c757d;
  --ion-color-medium-rgb: 108, 117, 125;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #5c636a;
  --ion-color-medium-tint: #818a91;

  /* Dark */
  --ion-color-dark: #324A5F;
  --ion-color-dark-rgb: 52, 58, 64;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #0C1821;
  --ion-color-dark-tint: #0C1821;
}

body.light {
    /* Primary */
    --ion-color-primary: #28a745;
    --ion-color-primary-rgb: 0, 120, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #0066cc;
    --ion-color-primary-tint: #3399ff;
  
    /* Secondary */
    --ion-color-secondary: #4da6ff;
    --ion-color-secondary-rgb: 77, 166, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #3b94e6;
    --ion-color-secondary-tint: #66b3ff;
  
    /* Tertiary */
    --ion-color-tertiary: #9980ff;
    --ion-color-tertiary-rgb: 153, 128, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #8066e6;
    --ion-color-tertiary-tint: #aa99ff;
  
    /* Success */
    --ion-color-success: #28a745;
    --ion-color-success-rgb: 40, 167, 69;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #218838;
    --ion-color-success-tint: #4caf50;
  
    /* Warning */
    --ion-color-warning: #ffc107;
    --ion-color-warning-rgb: 255, 193, 7;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e6ac00;
    --ion-color-warning-tint: #ffd54f;
  
    /* Danger */
    --ion-color-danger: #dc3545;
    --ion-color-danger-rgb: 220, 53, 69;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #b02a37;
    --ion-color-danger-tint: #e57373;
  
    /* Light */
    --ion-color-light: black;
    --ion-color-light-rgb: 248, 249, 250;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #e9ecef;
    --ion-color-light-tint: #ffffff;
  
    /* Medium */
    --ion-color-medium: #6c757d;
    --ion-color-medium-rgb: 108, 117, 125;
    --ion-color-medium-contrast: red;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #5c636a;
    --ion-color-medium-tint: #818a91;
  
    /* Dark */
    --ion-color-dark: #D1D5DB;
    --ion-color-dark-rgb: 52, 58, 64;
    --ion-color-dark-contrast: 	#4B5563;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1F2937;
    --ion-color-dark-tint: #0C1821;
}

body.dark {
  /* Primary */
  --ion-color-primary: #28a745;
  --ion-color-primary-rgb: 51, 153, 255;
  --ion-color-primary-contrast: #2a88e6;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #2a88e6;
  --ion-color-primary-tint: #4da6ff;

  /* Secondary */
  --ion-color-secondary: #1a73e8;
  --ion-color-secondary-rgb: 26, 115, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #165dbb;
  --ion-color-secondary-tint: #3385ff;

  /* Tertiary */
  --ion-color-tertiary: #7c4dff;
  --ion-color-tertiary-rgb: 124, 77, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #6c43e6;
  --ion-color-tertiary-tint: #8d61ff;

  /* Success */
  --ion-color-success: #2dd55b;
  --ion-color-success-rgb: 45, 213, 91;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28bb50;
  --ion-color-success-tint: #4be676;

  /* Warning */
  --ion-color-warning: #ff00fb;
  --ion-color-warning-rgb: 255, 204, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e6b800;
  --ion-color-warning-tint: #ffd633;

  /* Danger */
  --ion-color-danger: #f44336;
  --ion-color-danger-rgb: 244, 67, 54;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d5392e;
  --ion-color-danger-tint: #f6685e;

  /* Light */
  --ion-color-light: white;
  --ion-color-light-rgb: 74, 74, 74;
  --ion-color-light-contrast: red;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #3f3f3f;
  --ion-color-light-tint: #5a5a5a;

  /* Medium */
  --ion-color-medium: white;
  --ion-color-medium-rgb: 166, 166, 166;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #929292;
  --ion-color-medium-tint: #bfbfbf;

  /* Dark */
  --ion-color-dark: #0C0F14;
  --ion-color-dark-rgb: 30, 30, 30;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #000022;
  --ion-color-dark-tint: #000022;
}
