ion-col {
  border: 1px solid red;
  /* background: grey; */
  --ion-grid-column-padding:10px;
}


ion-content {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

ion-grid {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
    }
  width: 100%;
  overflow-y: scroll;
}

ion-row {
  display: flex;
  width: 100%;
  border-radius: 100px;
  justify-content: center;
}


.stock-grid {
  display: flex;
}